{% extends 'other.html' %}
 {%block content%} 
 {%load static%}
 {% load crispy_forms_tags %}
{% block title%}
<head>
  <meta name="Key Words" content="Web Development, Free Blog Hosting,Static Websites,Web Application" />
  <meta
    name="description"
    content="This page is creating new Detailed Discription of  services including service type and price aswell as functinality"
  />
    <title>SecureTicketingSolution| Add Show</title>
{%endblock title%}
</head>
 <br> 

<form id="form-id" method="POST" enctype="multipart/form-data" class="shadow-lg sm-5 mx-5 mt-5">

{% csrf_token %}


<div class="mt-5 text-center">
  <br>
  <h5 class="text-center"> Create Show </h5>
</div>
{% for message in messages %}

<div class=" ">
{% if message.tags == 'success'%}
<p class="alert alert-success">{{message}}</p>
{% else%}
<p class="alert alert-warning">{{message}}</p>
{%endif%} 
</div>
{%endfor%}

<div class=" text-start  mx-3">
  <p class="lead mt-3">
  <strong>{{form.showName|as_crispy_field}}</strong> 
  </p>

  <p class="lead mt-3">
  <strong>{{form.showVenue|as_crispy_field}}</strong> 
  </p>
  <p class="lead mt-3">
  <strong>{{form.showCity|as_crispy_field}}</strong> 
  </p>
  <p class="lead mt-3">
  <strong>{{form.showDate|as_crispy_field}}</strong> 
  </p>
  <p class="lead mt-3">
  <strong>{{form.amount|as_crispy_field}}</strong> 
  </p>
  
  <p class="lead mt-3">
    <strong>{{form.picture|as_crispy_field}}</strong> 
    </p>
  <br />
  </div>

<div class="text-start mb-5">
<button type="submit" class="btn btn-info ms-5 button ">
Create
</button>
<button type="submit" class="btn btn-info ms-5 button ">
  <a class="text-decoration-none text-black" href="{% url 'dashboard'%}">Back</a>
  </button>
</div>
<br>

</form>

{%endblock content%}
