{%load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Key Words" content="Murimi wangu farmimg agronomist,aggricultural suppliers" />

  
 
    <!-- bootstrap configurations --> 
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../static/css/node_modules/bootstrap/dist/css/bootstrap.css">
   <script src="{% static 'css/node_modules/bootstrap/dist/js/bootstrap.bundle.js'%}"></script>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
   rel="stylesheet"
   integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous">
  
   <!-- fontawesome icons configurations -->
   <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css"
      integrity="sha512-R+xPS2VPCAFvLRy+I4PgbwkWjw1z5B5gNDYgJN5LfzV4gGNeRQyVrY7Uk59rX+c8tzz63j8DeZPLqmXvBxj8pA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/brands.min.css"
  integrity="sha512-nS1/hdh2b0U8SeA8tlo7QblY6rY6C+MgkZIeRzJQQvMsFfMQFUKp+cgMN2Uuy+OtbQ4RoLMIlO2iF7bIEY3Oyg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css"
      integrity="sha512-R+xPS2VPCAFvLRy+I4PgbwkWjw1z5B5gNDYgJN5LfzV4gGNeRQyVrY7Uk59rX+c8tzz63j8DeZPLqmXvBxj8pA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> 
  <!-- title icon -->

   <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" sizes="32x32">

   <!-- javascript config -->
   <script src="{% static '../static/css/node_modules/bootstrap/dist/js/bootstrap.bundle.js'%}"></script>
   <script src="{% static '../static/css/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
   <script src="{% static '../static/css/node_modules/bootstrap/dist/js/bootstrap.js'%}"></script>
  


  </head>
  <script src="{% static '../static/JS/base.js'%}"></script>
</html>
