{% extends 'other.html' %}
 {% block content%} 
 {% load static%}
   {% block title%}
<head>
  <meta name="Key Words" content="Dashboard">
  <meta name="description" content="">
<title>SecureTicketingSolution|The HUb</title>
</head>
{%endblock title%}

<br />
<br />
{%if user.roles == 'admin'  and user.is_admin or user.is_superuser %}

<div class="album py-5 bg-body-tertiary">

  <div class="container">
    <h3 class="text-center mb-3">All Users in SecureTicketingSolution</h3>
    <div class="d-inline-flex">
      
        <form method="GET" action="{% url 'search_users' %}" class="mb-5 mb-md-0">
            <div class="btn-group me-2 text-end">
              <input type="text" name="username" placeholder="Search User" class="btn btn-sm btn-outline-primary"></input>
              <button type="submit" class="btn btn-sm btn-outline-primary">Search</button>
            </div>
          </form> 
    </div>
 
    {% for message in messages %}
    {% if message.tags == 'success'%}
    <div class=" alert alert-success">
    <p class="">{{message}}</p>
    </div>
    {%endif%} 
    {%endfor%} 
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for data in users %}   
      <div class="col">
        <div class="card shadow-sm">
          
          <div class="card-body">
            <h5 ><i class="fas fa-user text-primary"></i><span class="ms-3" >Username    <span class="ms-3" >{{data.username}}</span>  </span></h5>  <hr>
            <ul class="list-unstyled d-block fw-bold">
              <li class="mb-3"> <i class="fas fa-user text-primary"></i><span class="ms-3" > {{data.first_name.title}}  </span> <span class="ms-1" >{{data.last_name.title}} </span> ({{data.roles.title}})
              </li>
              <li class="mb-3"> <i class="fas fa-phone text-primary"></i><span class="ms-3" >   {{data.phoneNumber}}  </span> 
              </li>
              <li class="mb-3"> <i class="fas fa-id-card text-primary"></i><span class="ms-3" >  {{data.nationalId}}  </span> 
              </li>
              <li class="mb-3">
              <i class=" fas fa-envelope text-primary"></i><span class="ms-3" > 
                {% if data.email == ''%}
                User has no email
                {%else%}
                  {{data.email}}  
                {%endif%}
                </span> </li>
                <li class="mb-3"> <i class="fas fa-city text-primary"></i><span class="ms-3" >  {{data.city}}  </span> 
                </li>
                <li class="mb-3"> <i class="fas text-primary fa-sign-in-alt"></i>
                  <span class="ms-3" >  {{data.last_login}}  </span> 
                </li>
               

             
            </ul> 
            <div class="d-flex justify-content-between align-items-center">
             
              <div class="btn-group">
                <button type="button" class="btn text-secondary btn-sm btn-outline-info">
                  <a class="text-decoration-none text-secondary" href="{% url 'delete_user' data.id%}">Delete user</a> </button>
                </button>
                <button type="button" class="btn text-secondary btn-sm btn-outline-info"><a class="text-decoration-none text-secondary" href="{% url 'change_role' data.id%}">Change role</a> </button>
              </div>
              <small class="text-body-secondary">{{data.roles}}</small>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  
  </div>
</div>
{%endif%}


 {% endblock content%}
